


h2{
    color: rgb(18, 192, 192)
}
h1{
    color:rgb(18, 192, 192)
}
body{
    background-color: rgba(180, 182, 184, 0.945); 
    margin:20px
} 

p {
    line-height:30px;
    float:none
}


.col-md-8{
    background-color: white; 
}
.col-md-4{
    background-color:white
}

img{max-height: 400px;
    max-width: 500px;
    width: 340px;
    height: 340px; 
    margin-left:50px; 
    text-align: center
}

#latitude_temp_main{
    max-height: 400px; 
    max-width: 500px;
    width: 340px;
    height: 340px;
    margin-left: 200px;
    margin-right: auto
}

.col-md-12{
    width: 6800px;
    height: 6800px
}

/* .row{margin-left: 300px} */

#comparison{
    color:rgb(18, 192, 192); 
    font-size: 40px
}

.container{
    background-color:white
}

.latitude_temp{
    margin-bottom: 10px
}

.latitude_humidity{
    margin-bottom: 10px
}

figcaption {
    display: table-caption; 
    font-style: italic;
    caption-side: top; 
    text-align:center; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navbar-brand{font-size: 20px;}
